.form-container
    width: 80%
    margin: 10% auto
    input
        // background-color: #1284ee98
        border: 2px solid black
        width: 18%
        font-size: 1.3em
        padding: 1% 0 1% 1%
        margin: 1% 0 1% 0
        &:active, &:focus
            outline: none
            cursor: pointer
    .danger
        border: 2px solid red
    .success
        border: 2px solid #26e63f
    .submit
        &:hover
            background-color: #34e6c8
            border: none
